KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt-asm.o \
$(ARCHDIR)/kprint.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/idt-asm.o \
$(ARCHDIR)/exceptions.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/kbd.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/pci.o \
$(ARCHDIR)/ahci.o \
$(ARCHDIR)/fat12.o \
$(ARCHDIR)/file.o \
$(ARCHDIR)/syscalls.o \
$(ARCHDIR)/debug.o \
$(ARCHDIR)/task.o \
$(ARCHDIR)/fat16.o \
$(ARCHDIR)/fat.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/bios32.o \
$(ARCHDIR)/acpi.o \
$(ARCHDIR)/mouse.o \
$(ARCHDIR)/ehci.o \
$(ARCHDIR)/kmalloc.o \
$(ARCHDIR)/power.o \
$(ARCHDIR)/usb.o \
$(ARCHDIR)/uhci.o \
$(ARCHDIR)/usbhub.o \
$(ARCHDIR)/usbhid.o \
$(ARCHDIR)/xhci.o \
$(ARCHDIR)/mutex.o \
$(ARCHDIR)/elf.o \
