KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/kprint.o \
$(ARCHDIR)/gdt-asm.o \
$(ARCHDIR)/mmu.o \
$(ARCHDIR)/page.o \
$(ARCHDIR)/malloc.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/idt-asm.o \
$(ARCHDIR)/kbd.o \
$(ARCHDIR)/fat12.o \
$(ARCHDIR)/disk.o \
$(ARCHDIR)/stringlib.o \
$(ARCHDIR)/file.o \
$(ARCHDIR)/exceptions.o \
