KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/sys/boot.o \
$(ARCHDIR)/io/tty.o \
$(ARCHDIR)/sysmgmt/io.o \
$(ARCHDIR)/sys/gdt.o \
$(ARCHDIR)/sys/gdt-asm.o \
$(ARCHDIR)/sys/kprint.o \
$(ARCHDIR)/sys/idt.o \
$(ARCHDIR)/sys/idt-asm.o \
$(ARCHDIR)/sys/exceptions.o \
$(ARCHDIR)/sys/pit.o \
$(ARCHDIR)/io/kbd.o \
$(ARCHDIR)/sys/paging.o \
$(ARCHDIR)/sysmgmt/pci.o \
$(ARCHDIR)/disk/ahci.o \
$(ARCHDIR)/task/syscalls.o \
$(ARCHDIR)/sysmgmt/debug.o \
$(ARCHDIR)/task/task.o \
$(ARCHDIR)/io/serial.o \
$(ARCHDIR)/sys/bios32.o \
$(ARCHDIR)/sysmgmt/acpi.o \
$(ARCHDIR)/io/mouse.o \
$(ARCHDIR)/usb/ehci.o \
$(ARCHDIR)/sys/kmalloc.o \
$(ARCHDIR)/sysmgmt/power.o \
$(ARCHDIR)/usb/uhci.o \
$(ARCHDIR)/usb/xhci.o \
$(ARCHDIR)/task/elf.o \
$(ARCHDIR)/disk/ide.o \
$(ARCHDIR)/graphics/graphics.o \
